#section2{
	/*border: 4px solid #f00;*/
	width: 100%;
}
/*.carousel-item > img{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
}
#carusel-text{
	border: 2px solid red;
	position: absolute;
}
*/